@media (max-width: 320px) {
	nav ul a {
		font-size: 0.6rem;
	}
	nav.active ul {
		width: 220px;
	}

	.user-info ul li {
		font-size: 0.6rem;
		margin-right: 0.2em;
	}

	#hire-me {
		max-width: 70%;
	}
}

@media (min-width: 610px) {
	/* for the skills section */
	.column.right {
		margin-left: 50px;
	}

	.skills-wrapper .flex {
		flex-direction: row;
	}

	/* github box */
	.user-info ul.flex {
		max-height: 25px;
	}
	.user-info ul li {
		margin-right: 0.5em;
	}

	#repos.flex {
		justify-content: space-between;
	}

	#hire-me {
		max-width: 70%;
	}

	.split {
		flex-direction: row;
	}

	.contact-form {
		border-right: 5px solid var(--color-mustardYellow);
		padding-right: 2em;
		border-bottom: 0;
	}

	.contact-info {
		padding-left: 2em;
	}

	.cf-submit button {
		font-size: 1.1rem;
	}
}

@media (min-width: 630px) and (max-width: 800px) {
	.user-info ul li {
		font-size: 0.75rem;
		margin-right: 0.5em;
	}
}

@media (min-width: 900px) {
	#hire-me {
		margin: 0 0 0 30px;
		max-width: 45%;
	}
}

@media (hover) {
	.card-content {
		transform: translateY(72%);
		transition: transform 500ms ease;
	}
	.card:hover .card-content,
	.card:focus-within .card-content {
		transform: translatey(0);
	}

	.card:focus-within .card-content {
		transition-duration: 0ms;
	}

	.card-content > *:not(.card-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	.card:hover .card-content > *:not(.card-title),
	.card:focus-within .card-content > *:not(.card-title) {
		opacity: 1;
		transition-delay: 500ms;
	}

	.card-title::after {
		transform: scaleX(0);
	}
	.card:hover .card-title::after,
	.card:focus-within .card-title::after {
		transform: scaleX(1);
	}
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
