.line {
	fill: none;
	stroke: var(--color-lightBlue);
	stroke-miterlimit: 10;
	stroke-width: 2px;
}

#hamburger-top,
#hamburger-bottom {
	transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger-middle {
	opacity: 1;
	transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger-svg path {
	stroke-dasharray: 25, 42;
	stroke-dashoffset: 0;
}

.x #hamburger-middle {
	opacity: 0;
}

.x #hamburger-top,
.x #hamburger-bottom {
	stroke-dashoffset: -41;
}
nav.flex {
	align-items: flex-start;
	justify-content: left;
}

nav {
	width: 50px;
	position: fixed;
	background-color: transparent;
	transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	overflow-x: hidden;
	padding: 1em;
	z-index: 999;
}
nav.active {
	width: 25em;
}

.inverse .line {
	stroke: var(--color-charcoal);
}

nav .addBg {
	background-color: var(--color-charcoal);
	color: var(--color-lightBlue);
	border-radius: 5px;
	padding: 5px;
	margin-top: -2px;
}

nav .addBg li a {
	color: var(--color-lightBlue);
}

/* nav .addBg a:hover {
	border-bottom: 2px solid var(--color-lightBlue);
}

nav .addBg a.active {
	border-bottom: 2px solid var(--color-lightBlue);
} */

.nav-link-active {
	border-bottom: 2px solid var(--color-lightOrange);
}

nav ul {
	display: flex;
	padding: 0;
	margin: 2px 0 0 0;
	width: 0;
	transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
nav.active ul {
	width: 100%;
}

nav ul li {
	transform: rotateY(0deg);
	opacity: 0;
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
nav.active ul li {
	opacity: 1;
	transform: rotateY(360deg);
}

nav ul li .nav-link {
	position: relative;
	color: var(--color-lightBlue);
	margin: 0 3px;
	transition: border-bottom 250ms ease-in;
}
nav ul .nav-link:hover {
	border-bottom: 2px solid var(--color-lightOrange);
}
nav ul .nav-link.active {
	border-bottom: 2px solid var(--color-lightOrange);
}

nav button,
nav button:active {
	background: none;
	border: none;
	outline: none;
	z-index: 999;
}

.hire-link {
	display: block;
}
