/* SKILLS SECTION */
#skills {
	padding: 0.75em;
}

.skills-wrapper.flex {
	flex-direction: column;
	padding: 0 0 2em 0;
}
.skills-wrapper .skills-image {
	height: 20em;
	border-radius: 8px;
}

.grid-wrapper {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 0.5rem;
	align-items: start;
	padding: 0;
}

.skill-box {
	grid-template-rows: auto;
	gap: 15px;
}

.skill-list-item {
	justify-content: space-between;
	margin-bottom: 0.5em;
}

.skill-item.flex {
	margin: 0 0 0 0.25em;
	width: 11ch;
	justify-content: left;
}

.bullet {
	height: 10px;
	width: 10px;
	background-color: var(--color-slateGrey);
	border-radius: 50%;
	margin-right: 0.25em;
}
.skill-level-gold {
	height: 25px;
	width: 25px;
	background-color: var(--color-mustardYellow);
	border-radius: 50%;
}
.skill-level-silver {
	height: 25px;
	width: 25px;
	background-color: var(--color-silver);
	border-radius: 50%;
}

/* GITHUB  AND HIRE ME SECTION */

#cta,
#contact-me {
	background: #eaeaea;
	padding-bottom: 1em;
	position: relative;
}

#cta::before {
	content: '';
	position: absolute;
	top: -45px;
	left: 0;
	background: #eaeaea;
	transform: skewY(-183deg);
	height: 300px;

	z-index: -1;
	right: 0;
}

#cta::after {
	content: '';
	position: absolute;
	bottom: -78px;
	left: 0;
	background: #eaeaea;
	transform: skewY(183deg);
	height: 300px;

	z-index: -1;
	right: 0;
}

.cta-boxes {
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-template-rows: 1fr;
	margin-top: 2em;
	padding-bottom: 2em;
}

.github-box,
.hireMe-box {
	flex-direction: column;
	color: var(--color-charcoal);
	background-color: var(--color-lightBlue);
	border-radius: 18.7436px;
	position: relative;
	padding: 15px;
	margin: 10px;
}

.cta .fa-github {
	font-size: 1.5rem;
	color: var(--color-charcoal);
	position: absolute;
	top: 5px;
	left: 5px;
}
#github-bio {
	font-size: 0.75rem;
	padding: 10px;
}

.avatar img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 0.25rem solid var(--color-charcoal);
}

.user-info ul li {
	font-size: 0.75rem;
	margin-right: 0.5em;
}

.user-info ul li strong {
	font-weight: 600;
	margin-left: 0.25em;
}

#repos.flex {
	max-height: 25px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.repo {
	background-color: var(--color-charcoal);
	color: #fff;
	border-radius: 4px;
	padding: 0.25em 0.5em;
	font-size: 0.7rem;
	margin: 0.2em;
	display: inline-block;
}

#repos a {
	transition: background-color 500ms ease;
}
#repos a:hover {
	background-color: var(--color-mustardYellow);
}

#hire-me {
	margin: 40px 0;
	max-width: 50%;
}

.hire-me {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--color-charcoal);
	border-radius: 18.7436px 3.54545px 35.4545px;
	width: 170px;
	color: #fff;
	padding: 3px 13px 0 0px;
	font-size: 0.75rem;
}
.hire-me h3 {
	text-align: center;
}

.hire-me ul li.right {
	margin-left: 15px;
}

.expLoc {
	position: absolute;
	bottom: 0;
	right: 0;
	background: var(--color-charcoal);
	border-radius: 35.4545px 3.54545px 18.7436px;
	width: 170px;
	color: #fff;
	padding: 10px 13px 0 20px;
}

.expLoc ul.right {
	margin-left: 15px;
}

.expLoc ul {
	font-size: 0.75rem;
}

.download-resume {
	margin-top: 20px;
	flex-direction: column;
}

#cv {
	outline: none;
	border: 0;
	position: relative;
	max-width: 231.11px;
	height: 80px;
	background-color: var(--color-lightBlue);
	border-radius: 18.7436px;
	color: #fff;
	width: 150px;
	font-size: 2rem;
	cursor: pointer;
	transition: box-shadow 500ms ease;
	margin-bottom: 2em;
}

#cv:hover,
#cv:focus-within {
	box-shadow: 0 10px 30px 0px rgba(169, 194, 208, 0.5);
}

.download-cv::after {
	content: '';
	background-color: var(--color-charcoal);
	position: absolute;
	top: 12%;
	left: 5%;
	width: 90%;
	height: 75%;
	display: block;
	border-radius: 10px;
	align-items: center;
	transition: background-color 500ms ease;
}

.download-cv:hover.download-cv::after {
	background-color: var(--color-mustardYellow);
}
.download-cv h3 {
	font-size: 1.2rem;
}

.download-cv h3,
.download-cv .fa-download {
	z-index: 10;
}

/* PORTFOLIO */

#portfolio {
	margin-bottom: 2em;
	padding-bottom: 2em;
}

.pf {
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	overflow: hidden;
	padding: 0.25em;
}
.card {
	color: #fff;
	background-image: url(../images/portfolioScreenshot.png);
	background-size: cover;
	padding: 10rem 0 0;
	max-width: 35ch;
	border-radius: 18.7436px;
	overflow: hidden;
	transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
	transform: scale(1.02);
}

.card h2 {
	color: var(--color-mustardYellow);
}

.card-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(hsl(0 0% 0% /0), hsl(20 0% 0% /0.7) 20%, hsl(0 0% 0% /1));
	color: var(--color-lightBlue);
}

.card-body {
	color: hsla(201, 29%, 74%/0.8);
}

.card-title {
	position: relative;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.card-title::after {
	content: '';
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	bottom: -3px;
	width: calc(100% + var(--padding));
	background-color: var(--color-lightOrange);
	transform-origin: left;
	transition: transform 1s ease-in-out;
}

.card-button {
	cursor: pointer;
	display: inline-block;
	background-color: var(--color-lightBlue);
	color: var(--color-charcoal);
	padding: 0.5em 1.25em;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 600;
	transition: background-color 500ms ease;
}

.card-button:hover,
.card-button:focus {
	background-color: var(--color-mustardYellow);
	color: #fff;
}

/* CONTACT FORM */

#contact-me {
	position: relative;
}

#contact-me::before {
	content: '';
	position: absolute;
	top: -45px;
	left: 0;
	background: #eaeaea;
	transform: skewY(176deg);
	height: 300px;

	z-index: -1;
	right: 0;
}

.split {
	background-color: var(--color-lightBlue);
	border-radius: 18.7436px;
	padding: 2em;
	margin: 0.75em;
	flex-direction: column;
}

.contact-form {
	border-bottom: 5px solid var(--color-mustardYellow);
	padding-bottom: 2em;
	width: 80%;
}

.contact-form .flex {
	flex-direction: column;
}

.contact-form input,
.contact-form textarea {
	border: 2px solid var(--color-silver);
	border-radius: 5px;
	padding: 0.5em;
	width: 100%;
	transition: all 500ms;
}

input:valid,
textarea:valid {
	border: 2px solid green;
}
input:invalid,
textarea:invalid {
	border: 2px solid red;
}

.contact-form textarea {
	height: 10em;
}

.label-input {
	color: var(--color-charcoal);
}

.cf-submit button {
	cursor: pointer;
	padding: 0.5em;
	height: 100%;
	border-style: none;
	background-color: var(--color-charcoal);
	border-radius: 5px;
	box-shadow: 0 10px 30px 0px rgba(43, 66, 83, 0.5);
	font-family: Montserrat, serif;
	font-size: 0.75rem;
	color: #fff;
	font-weight: 200;
	text-transform: uppercase;
}

.cf-submit.flex {
	align-items: flex-start;
}

.cf-submit button:hover {
	color: var(--color-charcoal);
	background-color: var(--color-mustardYellow);
	box-shadow: 0 10px 30px 0px rgba(197, 158, 88, 0.5);
}

.cf-submit button:hover .fa-envelope {
	animation: animateMail 1s ease-in-out infinite reverse;
}

@-webkit-keyframes animateMail {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(45deg);
	}
	90% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes animateMail {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(45deg);
	}
	90% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.fa-envelope {
	margin-left: 10px;
}

.contact-info {
	flex-direction: column;
	font-size: 2rem;
	align-items: center;
}

#copyright-date,
#copyright-name {
	font-size: 0.75rem;
}
